body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  width: 100%;
  z-index: -10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(0.5);
}

.bg img {
  width: 100%;
  min-height: 100vh;
  filter: brightness(70%);
}