@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 100vh;
  color: #fff;
  z-index: 999999;
  position: fixed;
  top: 0;
}

.loading-page {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #000, #000, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 25px 1px rgba(255, 119, 0, 1),
    1px 1px 23px 1px rgba(0, 141, 221, 1), 1px 1px 21px 1px rgba(255, 119, 0, 1);
  border-radius: 50%;
}
#logo {
  height: 200px;
  width: 200px;
  stroke: #fff;
  fill-opacity: 0;
  stroke-width: 3px;
  animation: draw 10s linear infinite;
  stroke-dasharray: 1500;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 1500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(123, 84, 0, 0.68);
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
body {
  width: 100vw;
  background: none;
  overflow-x: hidden;
}
.to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 50%;
  color: #fff;
  background-color: #8b8b8b;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: 0.2s ease;
}
.to-top:hover {
  background-color: #666666;
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 15px;
  z-index: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background: linear-gradient(
    0deg,
    rgba(238, 152, 40, 0) 0%,
    rgba(121, 76, 9, 0.03) 0%,
    rgba(123, 84, 0, 0.68) 98%
  );
  backdrop-filter: blur(1px);
}
.second-header {
  display: none;
}
.header-item {
  display: flex;
  align-items: center;
}

.logo {
  border-left: 2px solid #ededed;
  font-size: 14px;
  padding-left: 7px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  max-width: 320px;
  line-height: 20px;
}

.header-item img {
  width: 120px;
  margin-right: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar a {
  font-size: 17px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 14px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgba(133, 91, 2, 0.68);
}

.home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: linear-gradient(to right, #0576e61f, #0017692a),
    url(./assets/background/Kokand_Khudayar_Khan_palace_restored-1024x682.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  backdrop-filter: blur(10px);
  background-color: #00000025;
  top: 0;
  left: 0;
  z-index: 1000;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  position: relative;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  color: aliceblue;
}

.home-content h3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}
.home-wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.welcome-section {
  width: 100%;
  padding: 40px 0px 30px 0px;
}
.welcome-section-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.welcome-section-textBx {
  width: 550px;
  margin: 20px 0px;
}
.welcome-section-textBx h1 {
  font-size: 40px;
  color: #090909;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.welcome-section-textBx p {
  line-height: 25px;
  font-weight: 700;
  color: #090909;
}
.welcome-section-textBx button {
  padding: 7px 25px;
  margin-top: 15px;
  border-radius: 3px;
  border: none;
  color: #090909;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  font-size: 14px;
  &:hover {
    background-color: rgba(133, 91, 2, 0.68);
    color: #fff;
  }
}
.mapdiv {
  width: 46%;
  margin: 20px 50px;
}
.mapdiv .map path {
  fill: #0088cb;
  transition: all 0.2s ease;
  cursor: pointer;
}
.mapdiv .map path:hover {
  fill: #0087cbe0;
  transform: scale(1.01);
}
.news {
  width: 100vw;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  color: #fff;
}

.new {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new img {
  width: 150px;
  height: 20px;
  margin-top: 5px;
}

.new h1 {
  font-weight: bold;
  text-align: center;
  color: #090909;
  align-items: center;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 5px;
}
.news-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 0px 0px;
}
.news-container-item {
  max-width: 360px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px 0 rgba(133, 91, 2, 0.68);
  border-radius: 7px;
  overflow: hidden;
  margin: 0px 30px 20px 0px;
  background-color: rgba(168, 117, 6, 0.68);
  color: #ffffff;
}
.news-container-item.is-up {
  position: relative;
  top: -50px;
  color: #fff;
}
.news-container-item .imgBx {
  height: 250px;
  overflow: hidden;
}
.news-container-item .imgBx img {
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  cursor: pointer;
}
.news-container-item .imgBx:hover img {
  transform: scale(1.1);
}
.news-container-item p {
  padding: 20px 0px;
  font-size: 14px;
  text-align: center;
  color: #f5f5f5;
  font-weight: 700;
}

.item img {
  width: 300px;
  height: 602px;
  z-index: 1000;
}
.media-section-main {
  background: linear-gradient(
    0deg,
    rgba(123, 84, 0, 0.68) 98%,
    rgba(238, 152, 40, 0.63) 0%,
    rgba(121, 76, 9, 0) 0%
  );
  padding: 70px 0px;
}
.media-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.media-section-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.media-section-title h4 {
  color: #f5f5f5;
  margin-bottom: 10px;
  letter-spacing: 5px;
  font-size: 21px;
}

.media-section-title img {
  width: 120px;
  align-items: center;
  z-index: 1000;
}

.media-mix {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.media-left-slide {
  position: relative;
  width: 500px;
  min-height: 330px;
  overflow: hidden;
}

.media-left-slide-item {
  width: 510px;
  min-height: 300px;
  display: flex;
  animation: slideAnime 130s linear infinite;
}

.media-left-slide-item img {
  width: 510px !important;
  height: 290px !important;
}
.media-title {
  margin-bottom: 5px;
}
.media-title img {
  width: 150px;
}
.media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  color: #f5f5f5;
}
.media-video {
  width: 510px;
  height: 290px;
}
.media-video video {
  width: 100%;
  height: 100%;
}
.media-left,
.media-right {
  padding: 10px 15px;
  z-index: 10000;
}
.places-section {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(123, 84, 0, 0.68) 98%,
    rgba(238, 152, 40, 0) 0%,
    rgba(121, 76, 9, 0.65) 0%
  );
}
.places-section-item {
  display: flex;
  flex-direction: column;
}
.places-section-item h1 {
  color: #fff;
  text-align: center;
}
.place-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.place-card {
  width: 350px;
  color: #fff;
  text-align: center;
  padding: 35px;
}
.place-card h3 {
  padding: 15px;
}
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.9em 1.9em;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px rgba(194, 135, 8, 0.829),
    -6px -6px 12px rgba(194, 135, 8, 0.829);
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgba(133, 91, 2, 0.68);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid rgba(133, 91, 2, 0.68);
}

.button2:hover:before {
  top: -35%;
  background-color: rgba(133, 91, 2, 0.68);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: rgba(133, 91, 2, 0.68);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.statistics {
  padding: 70px 0px;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(123, 84, 0, 0.68) 98%,
    rgba(238, 152, 40, 0) 0%,
    rgba(121, 76, 9, 0.67) 0%
  );
}

.statistics-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  letter-spacing: 5px;
  color: #ffffff;
}
.statistics-title img {
  width: 150px;
  margin-top: 5px;
}
.statistics-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 28px 0px 0px;
}
.statistics-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.statistics-item-box {
  width: 200px;
  margin: 10px 20px;
  color: #fff;
}
.statistics-item-box h5 {
  margin: 19px 0px 7px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}
.statistics-item-box span {
  font-size: 40px;
}
.why-we {
  width: 100%;
  padding: 50px 0px;

  background: linear-gradient(
    0deg,
    rgba(238, 152, 40, 0) 0%,
    rgba(121, 76, 9, 0.03) 0%,
    rgba(123, 84, 0, 0.68) 98%
  );
}
.why-we-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.why-we-title h4 {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 1px;
}
.why-we-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  z-index: 100;
}
.why-we-items-item {
  width: 240px;
  min-height: 180px;
  margin: 10px 20px;
  padding: 0px 5px;
}
.why-we-items-item i {
  font-size: 30px;
}
.why-we-items-item h3 {
  font-size: 15px;
  margin: 30px 0px;
}
.why-we-items-item p {
  font-size: 13px;
  line-height: 30px;
}

.map-section {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  /* background-color: #fff; */
}
.map-section-title {
  text-align: center;
  margin-bottom: 50px;
}
.map-section-title h4 {
  font-size: 30px;
  color: #212529d0;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer {
  background: linear-gradient(to right, #0575e65c, #001669),
    url(./assets/background/footer-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 40px 0px 0px 0px;
}
.footer-bottom {
  width: 100%;
  padding: 40px 0px;
  /* background: #0c2b6d; */
}
.footer-bottom-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
}
.footer-bottom-item p {
  line-height: 1.8;
  margin: 10px;
}
.footer-bottom-item img {
  width: 160px;
  height: 55px;
  margin: 10px;
}
.social-medias {
  display: flex;
  align-items: center;
  margin: 10px;
}
.social-medias i {
  margin: 0px 8px;
  font-size: 25px;
  cursor: pointer;
  opacity: 70%;
  transition: 0.2s ease;
  &:hover {
    opacity: 100%;
  }
}
@keyframes slideAnime {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-2800px);
  }
  100% {
    transform: translateX(0px);
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 1240px) {
  .logo {
    font-size: 10px;
  }
  .swiper {
    width: fit-content;
  }
  .swiper-slide {
    max-width: 320px;
  }
  .swiper-wrapper {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar a {
    font-size: 13px;
  }
  .int-section-item {
    justify-content: center;
  }
  .left-section,
  .right-section {
    width: 100%;
  }
  .int-left-box,
  .int-right-box {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .home {
    display: none;
  }
  .second-header {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    background-color: #fff;
  }
  .menu-title {
    position: relative;
    padding: 15px 18px;
    text-align: center;
    font-size: 13px;
    color: #777777;
  }
  .menu-title button {
    position: absolute;
    right: 15px;
    top: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    color: #a8a8a8;
  }
  .header-menu {
    position: absolute;
    left: -150%;
    z-index: 11;
    background-color: #ffffffb6;
    backdrop-filter: blur(5px);
    width: 440px;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: right 0.3s ease;
  }
  .header-menu.active {
    left: -0%;
  }
  .header-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    font-size: 13px;
    color: #252525;
    border-top: 0.5px solid #7777773b;
  }
  .header-menu-item i {
    color: #777777bb;
  }
  .menu {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .menu button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 40px;
    cursor: pointer;
  }
  .menu div {
    max-width: 380px;
    display: flex;
    align-items: center;
  }
  .menu div img {
    width: 60px;
    height: 60px;
  }

  .news {
    padding-top: 100px;
  }
  .news-container {
    justify-content: center;
  }
  .news-container-item.is-up {
    top: 0px;
  }
  .media-mix {
    justify-content: center;
  }
  .media-left-slide {
    width: 320px;
    min-height: 200px;
  }

  .media-left-slide-item {
    min-height: 200px;
  }

  .media-left-slide-item img {
    width: 320px !important;
    height: 200px !important;
  }
  .media-video {
    width: 320px;
    height: 200px;
  }
  .footer-bottom-item {
    justify-content: center;
  }
}
